* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: #f55a5a;
}

.nav--logo {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #ffffff;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 36px;
  gap: 7px;
}

.toDo--input {
  height: 35px;
  width: 600px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 12px;
  letter-spacing: 0.17em;
  padding-left: 10px;
}

.toDo--button {
  height: 35px;
  background-color: #f55a5a;
  color: white;
  border-radius: 3px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 30px;
  padding: 2px 7px;
}
